
/*index.php css*/
body #main
{
	text-align: center;
	background-color: #7186AC;
	font-size: 50px;
	font-family: 'Crete Round', serif;
	letter-spacing: 1px;
}

.point
{
	color: #0E2D66;
}
.parici /*le boutton */
{
	font-size: 80px;
	margin:20px auto;
	color:#252B2A;
	font-weight: bold;
	padding: 1px;
	border-style:none;
	border-radius:3px;
	height: 40px;
}
a
{
	text-decoration: none; /* pour enlever la decoration par defaut */
	color: #252B2A;
}

a:hover /* lien quand on passe la souris*/
{
	text-decoration: none;
	color: #0E2D66 ;		
}
/*classe header*/


#titre_site h1 
{
	font-family: 'Crete Round', serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: black;
}

body #c1 
{
	background-color: #7186AC ;
	height: 90px;
}

#Logout{
	right: 25px ; 
}
/*classe du formulaire*/
/*autentification*/
.center h2{
	font-family: 'Crete Round', serif; 
	color: black;	
	font-size: 32px;
	font-weight: bold;
}


.center { text-align: center ; }
.center table {
	margin-left:auto; 
	margin-right:auto;
	border: 1.5px solid  #7186AC ;
	border-radius: 15px;
}
.left {text-align: right}
.right {text-align: left}
body {background-color: #7186AC }
.error {color: red; font-weight: bold;font-size: 20px;}


#bienvenu h5
{
	font-family: 'Crete Round', serif; 
	font-size: 25px;
	color: black;	
}

body #c2{
	margin-bottom: 10px;

}
/*footer*/

body #c3{
	background-color: #7186AC ;
	margin-top: 100px;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	color: black;

}


.table td {	
	padding: 0rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table tr{
	color: black;
	font-weight: bold;
}
.table a{
	font-weight: bold;
	color: black;
}
.table a:hover /* lien quand on passe la souris*/
{
	color: #0E2D66 ;		
}

